{% if site.coderbits_user %}
<section class="panel panel-default">
  <link href="https://dl.dropboxusercontent.com/u/23849021/Blog/coderbits.css" media="all" rel="stylesheet" type="text/css">
  <style type="text/css">
    #coderbits {
      margin: 10px 0 0 0;
    }
  </style>
  <div class="panel-heading">
    <h3 class="panel-title">Coderbits Portfolio</h3>
  </div>
  <section id="coderbits" data-coderbits-username="{{site.coderbits_user}}"></section>
  <script src="https://coderbits.com/content/widget/coderbits.js"></script>
</section>
{% endif %}
